<main role="main" class="main-banner" id="home-banner"> 

  <div class="jumbotron">
    <h1 class="display-3">Search for your new home today ....</h1>
    <p class="lead">Choose from hundreds of beautiful bungalows, apartments and condominiums. </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-success" href="#" role="button">View Latest Properties</a>
    </p>
  </div>

  <section id="lastest-properties" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
        <h3 class="mb-4">Latest Propeties</h3>
        </div>
      </div>
      <div class="row">        
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>

   <section id="lastest-post" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
        <h3 class="mb-4">Latest News</h3>
        </div>
      </div>
      <div class="row">  
        <%= render "posts/list", posts: @posts %>
      </div>
    </div>
    
  </section>
</main>
